body{
    background-image: url('../images/brick.jpg'); 
    font-family: cursive;
    background-attachment: fixed;
    margin-bottom: 2%;
}

.container2{
    padding: 20;
    background-color: black;
    margin-top: 6%;
    margin-bottom: 11%;
    text-align: center;
    border-radius: 20px;
    color: white;
    opacity: 0.9;
    font-size: 50px;
    font-family: 'Cabin Sketch', cursive;
}

 .detail{
     float: right; 
    margin-right: 20%;
    margin-top: 2%;
    padding: 1%;
} 

 img{
    width: 50%;
    height: 20%;
    border-radius: 2px;
} 

.container{
    padding: 2%;
    text-align: center;
    background-color: black; 
    margin-top: 6%;
    margin-bottom: 2%;
    border-radius: 20px;
    color: white;
    opacity: 0.7;
    font-size: 22px;
}

