body{
  background-image: url('../images/bricks.jpg'); 
  /* background-color: whitesmoke; */
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding-bottom: 2%;
  color:black;
}

.container{
  background-color:grey;
  opacity: 0.7;
  padding: 5%;
}

.container-fluid{
  /* background-color: dodgerblue; */
  border-radius:20px;
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
  color:black;
}

.img{
  width: 200px;
  height: 150px;
  float: right;
}

.nav{
    border-radius: 10px;
     margin-top: 0.5%; 
    font-size: 12px;
}

.h1{
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  margin: 7%;
  color:red;
}

.ul{
list-style-type: none;
float: left;
}

.heading{
  padding: 2%;
  margin-right: 2%;
  margin-left: 2%;
  /* background-color: black; */
  opacity: 0.87;
  border-radius: 20px;
  color: black;
  margin-top: 2%;

}

.container2{
  text-align: center;
  margin-top: -5%;
}

.container-fluid2{
  /* float: right; */
  margin-top: 6%;
  text-align: center;
  margin-bottom: 2%;
  /* text-align: center; */
  border-radius: 20px;
  color: black;
  opacity: 0.9;
  font-size: 22px;
}

